body {
    background-color: black;
    color: white;
}
img {
    display: block;
    margin: auto;
}
#starters_image_div > img{
    border: 10px solid blue;
}
.introduction > h1{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background: darkcyan;
}
#bulbasaur_container{
    margin: 10%;
    padding: 50px;
    border: 5px solid yellow;
    border-radius: 10px;
    background-color: lime;
}
#charmander_container{
    margin: 10%;
    padding: 50px;
    border: 5px solid yellow;
    border-radius: 10px;
    background-color:orange;
}


#squirtle_container{
    margin: 10%;
    padding: 50px;
    border: 5px solid yellow;
    border-radius: 10px;
    background-color:cyan;
}
